@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Poppins&display=swap');
.App {
  font-family: 'Poppins';
  text-align: center;
  background-color: #252836;
  margin: 0;
  padding-bottom: 16px;
  padding: 16px;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}
*{
  font-family: 'Poppins';
}
